<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/jxgy?useUnicode-true&amp;characterEncoding=gbk</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="show_sql">true</property>
		<!-- 配置dialect方言明确hibernate连接是哪种数据库 -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<!-- 配置可使用getCUrrentSession -->
<!-- 		<property name="current_session_contet_class">thread</property>  thread本地事务 jta全局事务-->
<!-- 		<mapping resource="com/soft151/system/bean/Stu.hbm.xml"/> -->
		<!-- 指定管理映射文件 -->
		<mapping resource="com/soft151/system/bean/UserInfo.hbm.xml"/>
	</session-factory>
</hibernate-configuration>